html:not(.is-dark-mode) {
  background-color: #fff;
}

html.can-change-mode {
  transition: background-color 0.5s;
}

html.is-changing-mode {
  background-color: var(--bg) !important;
  transition-duration: 0s;
}

@media (prefers-reduced-motion: reduce) {
  html {
    transition: background-color 2s;
  }
}

.u-richtext > * {
  color: #000;
}

.u-richtext-invert > * {
  color: #fff !important;
}

@media (prefers-reduced-motion: reduce) {
  [class*='u-richtext'] > * {
    transition: color 1.5s 0.25s;
  }
}

html.is-changing-mode [class*='u-richtext'] > *,
.Share-title {
  color: var(--fg) !important;
}

html.can-change-mode a,
html.can-change-mode .Quote p {
  transition: color 0.5s;
}

@media (prefers-reduced-motion: reduce) {
  html.can-change-mode a,
  html.can-change-mode .Quote p {
    transition: color 1.5s 0.25s;
  }
}

[data-component='SiteNavWithOverflow'] {
  display: none;
}

.Main a,
.Main .Quote p {
  color: inherit !important;
}

.Main a {
  text-decoration: underline !important;
}

.Main .Quote.is-pullquote p {
  font-weight: 700 !important;
}

.Main .Header h1 {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.Main .Header a {
  text-decoration: none !important;
}

.Main .Header-media {
  padding-top: 5vh;
  max-height: none !important;
  background-color: #fff;
}

.Main .Header-media::after {
  content: none;
}

.Main [data-centered] {
  text-align: center;
}

.Main [data-paragraph-replacement] {
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.Main.u-richtext-invert > [data-paragraph-replacement] {
  color: #f9f9f9;
}

@media (min-width: 700px) and (max-width: 979px) {
  .Main > [data-paragraph-replacement] {
    width: 83.3333333333%;
  }
}

@media (min-width: 980px) {
  .Main > [data-paragraph-replacement] {
    padding-left: 14px !important;
    padding-right: 14px !important;
    width: 66.6666666667%;
  }
}

.Main > [data-paragraph-replacement] + p {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.Main > [data-paragraph-replacement] > p {
  font-family: inherit;
  font-size: 1.125rem;
  line-height: 1.555555556;
}

@media (min-width: 700px) {
  .Main > [data-paragraph-replacement] > p {
    line-height: 1.666666667;
  }
}
